!!! 5
%html(lang="en-US" class="#{controller_name}-#{action_name}")
  %head
    %title
      - if content_for?(:title)
        = yield(:title)
      - else
        Sports Scraper
  = stylesheet_link_tag "application", :media => "all"
  = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{href: '/'} SportsScraper
          %ul.nav
            %li
              = link_to 'Team Depths', team_depths_path
            %form.navbar-search{ class: 'pull-left', id: 'search' , action: '/search', method: 'POST' }
              = content_for :page_javascript do
                var AUTOCOMPLETE_DATA = JSON.parse(#{Autocomplete.data.to_json.inspect.html_safe})
              %input.search-query{ type: 'text', autocomplete: 'off', placeholder: 'Search', name: 'query', value: (query if (defined?(query) && query)) }
    .container-fluid
      .row
        .span8.offset3
          - flash.keys.each do |key|
            .alert{ class: "alert-#{key}" }
              %a.close{ href: '#', "data-dismiss" => "alert" } x
              %h4.alert-heading= key.capitalize
              = flash[key]
              - flash.delete(key)
          = yield
  = javascript_tag { yield :page_javascript }
  = javascript_include_tag "application"
